<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.CommonCssFile(Url)
    @if (ViewBag.ChannelType != null)
    {
        string cssFile = string.Empty;
        if ((ChannelType)ViewBag.ChannelType == ChannelType.WebFacebook)
        {
        @Html.CommonFacebookFrameCssFile(Url);
        }
        else if ((ChannelType)ViewBag.ChannelType == ChannelType.Kongregate)
        {
        @Html.CommonKongregateFrameCssFile(Url);
        }
        else
        {
        @Html.CommonPortalFrameCssFile(Url);
        }
    }
    @Html.CommonChannelJavaScriptFile(Url)
    @RenderSection("HeaderJS", false)
</head>
<body>
    @RenderSection("BodyTopElement", false)
    @*    @if (ViewBag.Environment == "dev")
    {
        Html.RenderPartial("Debug");
    }*@
    <div id="page">
        <div id="header">
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
<script type="text/javascript">
    (function(w, d) { var a = function() { var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = 'async'; a.src = '//' + ((w.location.protocol === 'https:') ? 's3.amazonaws.com/cdx-radar/' :
        'radar.cedexis.com/') + '01-10332-radar10.min.js'; d.body.appendChild(a); };
        if (w.addEventListener) { w.addEventListener('load', a, false); }
        else if (w.attachEvent) { w.attachEvent('onload', a); }
    }(window, document));
</script>
</body>
</html>
