<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.KongregateChannelCssFile(Url)
    @Html.KongregateChannelJavaScriptFile(Url)
    @RenderSection("HeaderJavaScript", false)
</head>
<body>
    <div id="MainPageContainer">
        @RenderBody()
    </div>
</body>
</html>
