@model ChangePasswordModel
<div class="panel_item" style="padding: 15px 0px 15px 5px;">
    <div id="change_password_div">
        <div class="panel_item_header">
            <input id="toggleChangePassword" class="right darkGray" value="Change password" type="button" />
            Password
        </div>
        <div class="panel_item_textcontent">
            @using (Html.BeginForm("ChangePasswordForm", "Account", FormMethod.Post, new { id = "ChangePasswordForm", autocomplete = "off", style = "display:none" }))
            {
                <table>
                    <tr>
                        <td>
                            Current password:
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "cmuneInput" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Your new password:
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "cmuneInput" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Type it again:
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.VerifyPassword, new { @class = "cmuneInput" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                              <div style="text-align:left; padding: 20px 0 10px 5px;"> <input type="submit" value="Change" class="darkGray" /> </div>
                        </td>
                    </tr>
                </table>
          
            }
            @Html.Partial("MessageSummary")
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#toggleChangePassword').click(function () {
        $('#ChangePasswordForm').toggle('slow');
    });

    $('#ChangePasswordForm').bind('submit', function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Account()/ChangePassword',
            data: $(this).serialize(),
            success: function (data) {
                if (data.errorMessage != "") {
                    DisplayErrorSummary("#change_password_div", data.errorMessage);
                }
                else {
                    DisplaySuccessSummary("#change_password_div", "Your password has been successfully changed");
                    ClearForm("#ChangePasswordForm");
                    setTimeout(function () {
                        window.location.reload(), 2000
                    });
                }
            }
        });
        return false;
    });

  
</script>
