@{
    ViewBag.Title = "Account Creation Error";
}
<div id="EmailDuplicationPage" style="width: 768px; margin: auto">
    <br />
    <div id="screen" class="panel_default">
        <div id="content" class="panel_body" style="font-weight: bold; padding: 20px;">
            <div style="font-size: 15px">
                <p style="color: grey;">
                    <span class="errorMessage">Error : @ViewBag.CreationError</span>
                    <br />
                    The account creation process encountered a problem with the email address you use
                    on Facebook.
                    <br />
                    Please visit our <a href="@CommonConfig.CmuneSupportCenterUrl"
                        class="uberstrikeYellow" style="text-decoration: underline" target="_blank">support center</a>.
                </p>
            </div>
        </div>
    </div>
    <div id="logo">
    </div>
    <br />
</div>
<script type="text/javascript">
    var ApplicationPath = '@Url.AppBaseUrl()';
    var FacebookApplicationUrl = '@ViewBag.FacebookApplicationUrl';
    var baseUrl = "@Url.AppBaseUrl()";
</script>
