@{
    ViewBag.Title = "UberStrike - Recover password";
}

<div class="main_page_frame">
    <div class="main_page_content">
        <div class="panel_default" id="recoverPassword" style="margin: 8px 0px;">
            <div class="panel_header">
                Recover password
            </div>
            <div class="panel_item">
                @if (ViewBag.IsPasswordReseted == null)
                {
                    <p style="padding: 0 20px 0 20px;">
                        To generate a new password for your account enter your e-mail address below and check your inbox for further instructions:
                        <br />
                        <br />
                    </p>
                    <div style="text-align: center;">
                        @Html.TextBox("EmailTextBox")
                        @Html.Button("RecoverPasswordButton", "Send me a new password", "", "DoRecoverPassword()")
                    </div>
                }
                else
                {
                    if (ViewBag.IsPasswordReseted == true)
                    {
                    <div>Your can now <a href="@Url.Home()">login</a> using your new password.</div>
                    }
                    else
                    {
                    <div>Hmm. Something appears to have gone wrong. Please try the original link again and if the problem continues vsit our <a href="@CommonConfig.CmuneSupportCenterUrl" target="_blank">support center</a></div>
                    }
                }
                <div style="width:80%; margin-top:25px; margin-bottom:25px; margin-left:auto; margin-right:auto;">
                    @Html.Partial("MessageSummary")
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function DoRecoverPassword() {
        $.ajax({
            type: 'POST',
            url: '@Url.Account()/DoRecoverPassword',
            data: "email=" + $('#EmailTextBox').val(),
            success: function (data) {
                if (data.isError) {
                    DisplayErrorSummary("#recoverPassword", data.message);
                }
                else {
                    DisplaySuccessSummary("#recoverPassword", data.message);
                }
            }
        });
    }
</script>