<h2>
    Change the Admin Password</h2>
<br />
<p>
    Passwords are required to be a minimum of @ViewData["MinPasswordLength"] characters
    in length.
</p>
<br />
@if (ViewData.ContainsKey("IsChanged") && (bool)ViewData["IsChanged"])
{
    <p class="sync-good">@ViewData["StatusMessage"]</p>
}
else
{
    if (ViewData.ContainsKey("StatusMessage"))
    {
    <p class="error">@ViewData["StatusMessage"]</p>
    }

    <form id="changePasswordForm" action="@(ViewBag.ApplicationPath)AdminMember/ChangePassword" method="post">
    <div>
        Old password: @Html.Password("oldPassword")</div>
    <br />
    <div>
        New password: @Html.Password("newPassword")</div>
    <br />
    <div>
        Confirm new password: @Html.Password("newPasswordConfirm")</div>
    <br />
    <br />
    <input type="submit" value="Change password" />
    </form>
}
